[submodule "SOIL2"]
	path = SOIL2
	url = https://github.com/SpartanJ/SOIL2
[submodule "include/SOIL2"]
	path = include/SOIL2
	url = https://github.com/SpartanJ/SOIL2
[submodule "include/assimp"]
	path = include/assimp
	url = https://github.com/assimp/assimp
[submodule "include/glew"]
	path = include/glew
	url = https://github.com/nigels-com/glew
[submodule "include/glfw"]
	path = include/glfw
	url = https://github.com/glfw/glfw
[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui
[submodule "include/CLog"]
	path = include/CLog
	url = https://github.com/williamistGitHub/CLog.git
