[submodule "extern/SOIL2"]
	path = extern/SOIL2
	url = https://github.com/SpartanJ/SOIL2
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp
[submodule "extern/glew"]
	path = extern/glew
	url = https://github.com/nigels-com/glew
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/CLog"]
	path = extern/CLog
	url = https://github.com/williamistGitHub/CLog.git
[submodule "extern/glad"]
	path = extern/glad
	url = https://github.com/Dav1dde/glad.git
